
    #admin_buttons{
        height: 50px;
        width: 130px;
        margin-top: -5%;
        margin-left: 91%;
        position: relative;
        text-align: center;
    }
    
    button{
    display: inline-block;
    height: 50px;
    width: 130px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #17A798;
    cursor: pointer;
    outline: none;
    }
    
    div input{
      width: 88%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    label{
        display: block;
        text-align: left;
    }
    #FormContainer{
        max-width: 250px;
        padding: 10px;
        background-color: white;
    }
    #addForm{
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }
    
    input[type=button]{
        background-color: #17A798;
        color: white;
        font-size: 15px;
        width: 100%;
    }
