.cards-wrapper{
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
    .cards-wrapper .member{
        /* float: left; */
        display: inline-block;
        text-align: center;
        width: 12%;
        margin: 0px 50px 0px 50px;
    }
        .cards-wrapper .member img{
            width: 125px;
            height: 125px;
            border-radius: 50%;
            position: relative;
            z-index: 2;
        }
        .cards-wrapper .member .info{
            /* background-color: dodgerblue;
            color: white; */
            background-color: #f1f1f1;
            color: black;
            position: relative;
            bottom: 50px;
            z-index: 1;
            padding-top: 30px;
            border-radius: 9px;
            font-family: Arial, Helvetica, sans-serif;
            /* border: 2px outset tan; */
            border: 2px outset #F58A07;
        }
