* {box-sizing: border-box;}

#details img{
    width: 150px;
    height: 150px; 
    text-align: center;
}
#details{
    margin-top:50px;
    text-align: center;
}
#details #description{
    margin-left: 550px;
    padding-bottom: 900px;
}
#description{
    margin-left: 10px;
}
#description h3{
    text-decoration: underline;
}
#user_button{
    text-align: center;
    margin-bottom: 20px;
}

#admin_buttons{
    text-align: center;
}

#admin_button1{
    margin-right: 50px;
}

button{
    background-color: #17A798;
    color: white;
    font-size: 15px;
    border-radius:5px ;
    width: 300px;
    height: fit-content;
}

div input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
label{
    display: block;
    text-align: left;
}
#FormContainer{
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
#editForm{
  display: none;
  position: fixed;
  bottom: 0;
  left: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

#deleteForm{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

input[type=button]{
    background-color: #17A798;
    color: white;
    font-size: 15px;
}
