body{
    background-color: #F1F5F9;
}
div{
    text-align: center;
    padding: 20px;
}
div a{
    display: block;
    margin: 10px;
}
div form{
    display: inline-block;
    background-color:white;
}
div input{
    height: 30px;
    width: 350px;
}
#button{
    background-color: black;
    color: white;
    font-size: 15px;
    border-radius:5px ;
    width: fit-content;
}
div img{
    width: 120px;
    height: 120px;
}
label{
    display: block;
    text-align: left;
}