body{
    margin: 0%;
}
header{
    display: inline-block;
    width: 100%;
    background-color: #f1f1f1;
}
    #logo img{
        width: 125px;
        height: 125px;
        float: left;
    }
    header h1{
        float: left;
        margin-top:calc(62.5px - 16px);
    }
    .header-right{
        float: right;
        margin-top: calc(62.5px - 16px);
    }
        .header-right a{
            font-size: 18px;
            line-height: 25px;
            text-decoration: none;
            color: black;
            padding: 20px 35px;
            margin-right: 35px;
            background-color: dodgerblue;
            color: white;
            border-radius: 4px;
        }
    .icon-div{
        float: right;
    }

        .icon-div img{
            margin-top: calc(62.5px - 48px);
        }
        .icon-div h3{
            font-family: Arial, Helvetica, sans-serif;
            float: left;
            margin-top: 28%;
            padding-right: 10px;
            font-weight: lighter;
        }
nav{
    background-color: #F58A07;
    /* background-color: dodgerblue; */
    text-align: center;
    padding: 30px 0px;
    margin: 0px 10%;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
    nav a{
        color: white;
        padding: 30px calc(12.5% - 3.75ch);/*3.75 is half the average number of chars per link in the nav bar*/
        text-decoration: none;
        font-size: 17px; 
        margin: 0%;
    }
    nav a:hover{
        background-color: #ED8607;
    }
    nav a.with-border{
        border-right: 1px solid white;
    }
footer{
    background-color: #f1f1f1;
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    padding: 10px 0px;
}
    footer .copy-right{
        float: right;
        margin-right: 5%;
    }
    footer #footer-links{
        margin-left: 5%;
    }
        footer #footer-links a{
            color: black;
        }