body{
    margin: 0%;
}
header{
    float: left;
    width: 100%;
    background-color: #f1f1f1;
}
    #logo img{
        width: 150px;
        height: 150px;
        float: left;
    }
    header h1{
        float: left;
        margin-top:calc(75px - 16px);
    }
    .header-right{
 
        margin: calc(75px - 0px) 0px 0px 83%;
    }
        .header-right a{
            font-size: 18px;
            line-height: 25px;
            text-decoration: none;
            color: black;
            padding: 20px 35px;
            margin-right: 35px;
            background-color: dodgerblue;
            color: white;
            border-radius: 4px;
        }